/*   FONTS   */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


/*   VARIABLES   */
:root {
    --active: #BF616A;
    --white: #ECEFF4;
    --dark: #4C566A;
}

body {
    margin: auto;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    max-width: 1600px;
    background: url(../img/wallpaper.png);
    background-repeat: repeat;
}










/*   HEADER   */
header {
    position: sticky;
    top: 0;
    max-width: 1200px;
    margin: 20px auto;
    padding: 10px;
    background: var(--white);
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0,0,0,.5);
}

.logo {
    color: var(--active);
    height: 60px;
    font-size: 36px;
    line-height: 60px;
    padding: 0 20px;
    text-align: center;
    box-sizing: border-box;
    float: left;
    font-weight: 700;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.logo .logo-img {
    height: 60px;
}

.logo .logo-img img {
    width: 110%;
    height: 110%;
    border-radius: 10px;
}

.logo .title {
    color: #262626;
    padding: 5px 20px;
}

nav {
    float: right;
}

.clearfix {
    clear: both;
}

nav ul {
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    list-style-type: none;
}

nav ul li a {
    display: block;
    margin: 10px 0;
    padding: 10px 20px;
    text-decoration: none;
    color: #262626;
}

nav ul li a.active,
nav ul li a:hover {
    background: var(--active);
    color: #fff;
    transition: 0.5s;
}

@media (max-width: 1200px)
{
    header {
        margin: 20px;
    }
}

@media (max-width: 768px)
{
    .menu-toggle {
        display: block;
        width: 40px;
        height: 40px;
        margin: 10px;
        float: right;
        cursor: pointer;
        text-align: center;
        font-size: 30px;
        color: var(--active);
    }

    .menu-toggle:before {
        content: '\f0c9';
        font-family: fontAwesome;
        line-height: 40px;
    }

    .menu-toggle.active:before {
        content: '\f00d';
        font-family: fontAwesome;
        line-height: 40px;
    }

    nav {
        display: none;
    }

    nav.active {
        display: block;
        width: 100%;
    }

    nav.active ul {
        display: block;
    }

    nav.active ul li a {
        margin: 0;
    }
}










/*   CONTENT   */
.div-content {
    margin: 20px 50px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.div-content .section {
    background: var(--white);
    padding: 8px 10px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,.2);
    width: 100vh;
}

.div-content .section p {
    text-align: justify;
    margin: 0;
    padding: 0;
}

.div-content .cards {
    z-index: -1;
    width: 60vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.div-content .cards .card {
    position: relative;
    width: 80%;
    height: 420px;
    background: var(--white);
    margin: 20px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 15px 25px rgba(0,0,0,.2);
    transition: 0.5s;
}

.div-content .cards .card .circle {
    position: relative;
    width: 100%;
    height: 100%;
    background: #262626;
    clip-path: circle(180px at center 0);
    text-align: center;
}

.div-content .cards .card .circle h2 {
    color: #fff;
    font-size: 4.5em;
    padding: 30px 0;
    margin: 0;
}

.div-content .cards .card .content {
    position: absolute;
    bottom: 10px;
    page-break-after: 20px;
    text-align: center;
}

.div-content .cards .card .content p {
    color: #666;
}

.div-content .cards .card .content a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    background: #262626;
    color: #fff;
    border-radius: 40px;
    text-decoration: none;
    margin-top: 20px;
}





/*   FOOTER   */
footer {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

footer .links {
    margin: 30px;
}

footer .links a {
    position: relative;
    display: inline-block;
    width: 160px;
    height: 50px;
    margin: 0 10px;
    box-shadow: 0 5px 25px rgba(0,0,0,0.25);
}

footer .links a span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #262626;
    background: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 2px;
    font-size: 18px;
}

footer .links a span:nth-child(2) {
    color: #fff;
    background: #262626;
    overflow: hidden;
    z-index: 2;
    transition: 0.5s;
    clip-path: polygon(60% 0, 100% 0%, 100% 100%, 60% 100%, 40% 53%);
}

footer .links a span:nth-child(2):hover {
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 100%, 0 50%);
}

footer .copy {
    width: 70%;
    margin-bottom: 30px;
    padding: 8px 10px;
    text-align: center;
    color: black;
    background: var(--white);
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0,0,0,.5);
}

footer .copy p {
    text-align: center;
    font-size: 1.3em;
}